[submodule "home/dot.vim/bundle/pyflakes-vim"]
	path = home/dot.vim/bundle/pyflakes-vim
	url = git@github.com:kevinw/pyflakes-vim.git
[submodule "home/dot.vim/bundle/clighter"]
	path = home/dot.vim/bundle/clighter
	url = git@github.com:bbchung/clighter.git
[submodule "home/dot.vim/bundle/vim-multiple-cursors"]
	path = home/dot.vim/bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "home/dot.vim/bundle/vim-flake8"]
	path = home/dot.vim/bundle/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule "home/dot.vim/bundle/auto-pairs"]
	path = home/dot.vim/bundle/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "home/dot.vim/bundle/clighter8"]
	path = home/dot.vim/bundle/clighter8
	url = git@github.com:bbchung/clighter8.git
[submodule "home/dot.vim/bundle/jedi-vim"]
	path = home/dot.vim/bundle/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
