[submodule "home/dot.vim/bundle/nerdtree"]
	path = home/dot.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/dot.vim/bundle/ale"]
	path = home/dot.vim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "home/dot.vim/bundle/vim-airline"]
	path = home/dot.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "home/dot.vim/bundle/vim-commentary"]
	path = home/dot.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "home/dot.vim/bundle/vim-fugitive"]
	path = home/dot.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/dot.vim/bundle/indentLine"]
	path = home/dot.vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "home/dot.vim/bundle/clang_complete"]
	path = home/dot.vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "home/dot.vim/bundle/auto-pairs"]
	path = home/dot.vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "home/dot.vim/bundle/jedi-vim"]
	path = home/dot.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "home/dot.vim/bundle/vim-multiple-cursors"]
	path = home/dot.vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "home/dot.vim/bundle/vim-extradite"]
	path = home/dot.vim/bundle/vim-extradite
	url = https://github.com/part1zano/vim-extradite.git
[submodule "home/dot.vim/bundle/vim-lsp"]
	path = home/dot.vim/bundle/vim-lsp
	url = git@github.com:prabirshrestha/vim-lsp.git
