#минимальное число пиров на торрент
min_peers = 1

# scgi support
scgi_port = 0.0.0.0:5000

#максимальное число пиров на торрент 
max_peers = 250

#максимальная скорость загрузки
download_rate = 0

#максимальная скорость отдачи. 0 - не ограничена
upload_rate = 0

#каталог для сохранения закачек или откуда буду сидироваться торренты.
directory = /home/che/loads/uncat

#каталог куда будет сохраняться состояние торрентов.
#Здесь, в этом примере, они сохраняются в папку  session
session = /home/che/.rtorrent/

#rtorrent каждые 5 секунд проверяет этот каталог на новые *.torrent файлы
#и если они есть то ставит их на закачку
schedule = watch_default,5,5,load_start=/home/che/.rtorrent/autoload/*.torrent

#проверяет каталоги 2 и 3 на новые *.torrent файлы и сохраняет закачки в соответствующие папки
schedule = watch_cinema,5,5,"load_start=/home/che/.rtorrent/autoload/cinema/*.torrent,d.set_directory=/home/che/cinema"
schedule = watch_music,5,5,"load_start=/home/che/.rtorrent/autoload/music/*.torrent,d.set_directory=/home/che/music/uncat"

#номер порта (или нескольких портов) который открывает клиент для обмена данными
port_range = 40890-40890

#случайный выбор порта для обмена данными. В данном случае он отключён
port_random = no

#проверять хэш торрента после закачки
check_hash = yes

#сохранять сессию
session_save = yes

#принимать зашифрованные входящие соединения, устанавливать незашифрованные исходящие соединения, 
#если возвращает ошибку, повторять с шифрованием, предпочитать открытый текст после установления
#зашифрованного соединения
encryption = allow_incoming,enable_retry,prefer_plaintext 

#использовать udp
use_udp_trackers = yes

